<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INICIO</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>INICIO</h1>  
        <a th:href="@{/agregar}">Crear Persona</a>
        </br>
        <div th:if="${personas != null and !personas.empty}">
            <table>
                <tr>
                <th >Nombre</th>
                <th >Apellido</th>
                <th >Email</th>
                <th >Telefono</th>
                <th>Editar</th>
                <th>Eliminar</th>
                </tr>
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.apellido}"></td>
                <td th:text="${persona.email}"></td>
                <td th:text="${persona.telefono}"></td>
                <td><a th:href="@{/editar/} + ${persona.id}" th:text="Editar"/></td>
                <td><a th:href="@{/eliminar(id = ${persona.id})}" th:text="Eliminar"/></td> 

            </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia.
        </div>
    </body>
</html>
